.form-checkbox {
  display: inline-block;
}

.form-checkbox {
  display: block;
  position: relative;
}

.checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: solid 2px var(--title-text-clr);
  border-radius: 2px;
  position: relative;
  top: 2px;
}

.input-checkbox:checked + .checkbox {
  background-image: url(../img/check.svg);
  background-color: var(--primary-accent-clr);
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: background-image 250ms var(--transform-funct),
    background-color 250ms var(--transform-funct);
}
